.dialogs {
  padding: 35px 25px;
  height: 100vh;
  .head {
    display: flex;
    padding: 0 15px 5px;
    .search {
      width: 250px;
      outline: none;
      border: none;
      padding: 5px;
    }
    .leftSide {
      margin: 0 0 0 auto;
      .addChat {
        padding: 3px;
        margin-right: 7px;
      }
      .icon {
        height: 24px;
        width: 24px;
        margin: -5px 5px -6px;
      }
    }
  }
}

.chat {
  display: grid;
  grid-template-columns: 2fr 3fr;
  .blockname {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 25px;
  }
  .users {
    padding: 15px;
    .user {
      background-color: #d8d8d8;
      margin: 10px 0;
      padding: 10px;
      display: block;
      box-sizing: border-box;
      transition: box-shadow 0.3s ease-in;
      .photo {
        width: 50px;
        height: 50px;
        border-radius: 12px;
        margin: 5px;
        float: left;
      }
      .name {
        font-weight: bold;
      }
      .time {
        color: #8c8c8c;
        float: right;
      }
      .msg {
        color: #5e5e5e;
        margin: 10px 0 0 0;
        opacity: 0.8;
      }
      &.active {
        color: #9760c4;
      }
      &:hover {
        box-shadow: -3px 0px 0px 0px #9760c4;
      }
    }
  }
  .messages {
    padding: 15px;

    .message {
    }
  }
}
