* {
  margin: 0px;
  padding: 0px;
}

.wrapper {
  grid-area: container;
  // grid-template-areas:
  // "navigation head"
  // "navigation container";
  // grid-template-rows: 1fr;
  // grid-template-columns: 2fr 10fr;
  margin: 0px auto;
  // width: 1200px;
}
