.dialogs {
  height: 100vh;
  .head {
    display: flex;
    padding: 0 0 15px 0;
    .search {
      width: 250px;
      outline: none;
      border: none;
      padding: 5px;
    }
    .leftSide {
      margin: 0 0 0 auto;
      .addChatBtn {
        color: #ffffff99;
        padding: 5px;
        margin-right: 7px;
        background-color: #9760c4;
        border: 0.5px solid #d8d8d8;
        transition: all 0.2s ease;
        border-radius: 7px;
        &:hover {
          color: #ffffff;
        }
      }
      .icon {
        height: 24px;
        width: 24px;
        margin: -5px 5px -6px;
      }
    }
  }
}

.chat {
  display: grid;
  grid-template-columns: 2fr 3fr;
  .blockname {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 25px;
  }
  .users {
    padding: 0 30px 0 0;
    display: flex;
    flex-direction: column;
  }

  .messages {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    .messagesContainer {
      position: absolute;
      overflow-x: auto;
      width: 100%;
      height: 77%;
      scroll-snap-type: mandatory y;
    }
    .sendMessageArea {
      position: absolute;
      bottom: 0;
      width: 100%;
      textarea {
        font-family: inherit;
        background: inherit;
        box-sizing: border-box;
        outline: none;
        resize: none;
        width: 100%;
        height: 6vh;
        max-height: 60px;
        padding: 5px 10px;
        border-radius: 10px;
        background: #f5f5f5;
        &:focus {
          border: 1px solid #9760c4;
        }
      }
      .sendMsgBtn {
        position: absolute;
        height: 35px;
        top: 20%;
        right: 2%;
        padding: 10px;
        color: #ffffff99;
        background-color: #9760c4;
        border: none;
        transition: all 0.2s ease;
        border-radius: 7px;
        &:hover {
          color: #ffffff;
        }
      }
    }
  }
}
