.profileWrap {
  display: grid;
  grid-template-areas:
    "head head"
    "posts user";
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 60px;
  height: 100vh;
  padding: 35px 25px;
}

.head {
  grid-area: head;
  display: flex;
  .name {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
  }
  .subscribeBtn {
    margin: 0 0 auto auto;
    padding: 7px 10px;
    color: #ffffff99;
    background-color: #9760c4;
    border: 0.5px solid #d8d8d8;
    transition: all 0.2s ease;
    border-radius: 7px;
    &:hover {
      color: #ffffff;
    }
  }
}

.profilePosts {
  grid-area: posts;
  padding: 0 25px 0 0;
  .question {
    font-size: 22px;
  }
  .newPost {
    height: 10vh;
    margin: 10px 0 0 0;
    background-color: #bfb1ff;
    display: inline-flex;
    width: 100%;
    position: relative;
    input {
      width: 100%;
      padding: 3%;
      outline: 0.5px;
      border: none;
      font-size: 16px;
    }
    .addPostBtn {
      position: absolute;
      top: 32%;
      right: 3%;
      margin: auto 0;
      padding: 10px;
      color: #ffffff99;
      background-color: #9760c4;
      border: none;
      transition: all 0.2s ease;
      border-radius: 7px;
      &:hover {
        color: #ffffff;
      }
    }
  }
  .earlyPosts {
    padding: 10px 0;
    .postWrap {
      display: flex;
      flex-direction: column;
      background-color: #d8d8d8;
      margin: 15px 0;
      padding: 10px 10px 15px 10px;
      height: 5vh;
      border-radius: 5px;
      &:first-child {
        box-shadow: 1px 1px 4px 0 #9760c4;
      }
      .text {
        display: flex;
        margin-bottom: 10px;
        .time {
          font-size: 12px;
          margin: auto 0 auto auto;
          opacity: 0.8;
        }
      }
      .likes {
        display: flex;
        .icon {
          margin: auto auto auto 5px;
          width: 16px;
          height: 16px;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}

.about {
  grid-area: user;
  padding: 30px 0 0;
  .item {
    font-size: 14px;
    padding: 5px;
    border: 2px solid grey;
    a:link,
    a:visited {
      font-weight: bold;
      text-decoration: none;
      color: initial;
    }
  }
  .edit {
    font-weight: bold;
    margin: 10px auto 0;
    width: 35px;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
