.profileWrap {
  display: grid;
  grid-template-areas:
    "head head"
    "posts user";
  grid-template-columns: 3.5fr 1fr;
  grid-template-rows: 1.5rem;
  height: 100vh;
}

.head {
  grid-area: head;
  display: flex;
  .name {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  button {
    margin: 0 0 auto auto;
    padding: 7px 10px;
    color: #ffffff99;
    background-color: #9760c4;
    border: 0.5px solid #d8d8d8;
    transition: all 0.2s ease;
    border-radius: 7px;
    &:hover {
      color: #ffffff;
    }
  }
}

.profilePosts {
  grid-area: posts;
  padding: 0 25px 0 0;
  .question {
    font-size: 22px;
  }
  .newPost {
    height: 10vh;
    margin: 8px 0 0 0;
    display: inline-flex;
    width: 100%;
    position: relative;
    textarea {
      font-family: inherit;
      resize: none;
      width: 100%;
      padding: 10px;
      outline: none;
      border-radius: 5px;
      font-size: 16px;
      min-height: 50px;
    }
    button {
      position: absolute;
      height: 35px;
      top: 32%;
      bottom: 35%;
      right: 3%;
      padding: 10px;
      color: #ffffff99;
      background-color: #9760c4;
      border: none;
      transition: all 0.2s ease;
      border-radius: 7px;
      &:hover {
        color: #ffffff;
      }
    }
  }
  .earlyPosts {
    display: flex;
    flex-direction: column-reverse;
    padding: 10px 0;
  }
}

.about {
  grid-area: user;
  padding: 35px 0 0;
  .photo {
    margin: 0 auto;
    img {
      width: 300px;
      height: 300px;
      border-radius: 10px;
      display: block;
      margin: 0 auto 25px;
    }
  }
  .item {
    font-size: 14px;
    padding: 5px;
    border: 2px solid grey;
    a:link,
    a:visited {
      font-weight: bold;
      text-decoration: none;
      color: inherit;
    }
  }
}
