.wrapper {
  display: block;
  margin: 15px 0 0 0;
  width: 40%;
  height: 5%;
}

span {
  display: block;
  user-select: none;
}

input {
  width: 250px;
  outline: none;
  border: none;
  padding: 5px;
}
