.post {
  margin: 20px 0px;
  background-color: #01cbcb;
  box-sizing: border-box;
  padding: 20px;
}
.post .group {
  display: flex;
}
.post .group .groupphoto {
  width: 60px;
  height: 60px;
}
.post .group .groupinfo {
  margin: auto 25px;
}
.post .group .groupinfo .groupname {
  font-size: 20px;
  font-weight: bold;
}
.post .group .groupinfo .posttime {
  color: #5e5e5e;
  font-size: 14px;
}
.post .text {
  margin: 15px 0px 0px 0px;
  line-height: 24px;
}
.post .text .more {
  color: #ceffff;
  cursor: pointer;
}
.post .text .postimage {
  width: 100%;
  margin: 15px 0px;
}
.post .activities {
  display: flex;
  margin: 0px auto;
  width: 200px;
}
.post .activities .icon {
  width: 18px;
  height: 18px;
}
.post .activities p {
  font-size: 14px;
  margin: auto 20px;
}