.header {
  grid-area: header;
  box-sizing: border-box;
  background: #e97575;
  margin: 0px 25px 0px 0px;
  padding: 25px;
  width: 100%;
}
.header .icon {
  height: 24px;
  width: 24px;
}
.header .firstlane {
  display: flex;
}
.header .firstlane .greeting {
  font-size: 22px;
  font-weight: bold;
}
.header .firstlane .navbar {
  margin: 0px 0px 0px auto;
}
.header .firstlane .navbar .icon {
  margin: -4px 5px -6px;
}
.header .firstlane .navbar .search {
  margin: 0px 0px 0px 5px;
  height: 30px;
  box-sizing: border-box;
  padding: 10px;
}
.header .noteadd {
  margin: 20px 0px 20px 0px;
}
.header .noteadd .noteinput {
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
  height: 70px;
}
.header .categories {
  display: flex;
}
.header .categories .selector {
  margin: 0px 15px;
  border: 1px solid black;
  border-radius: 35px;
  padding: 12px;
  background-color: #999999;
  font-weight: bold;
}
.header .categories .selector:hover {
  background-color: #dadada;
  cursor: pointer;
}
.header .categories .icon {
  margin: auto 0;
  border: none;
}
