.header {
  box-sizing: border-box;
  margin: 0px 25px 0px 0px;
  padding: 25px;
  width: 100%;
  .icon {
    height: 24px;
    width: 24px;
  }
  .firstlane {
    display: flex;
    .greeting {
      font-size: 22px;
      font-weight: bold;
      letter-spacing: 1px;
    }
    .navbar {
      margin: 0px 0px 0px auto;
      .icon {
        margin: -4px 5px -6px;
      }
      .search {
        margin: 0px 0px 0px 5px;
        height: 30px;
        box-sizing: border-box;
        padding: 10px;
      }
    }
  }
  .noteadd {
    margin: 20px 0px 20px 0px;
    .noteinput {
      box-sizing: border-box;
      padding: 15px;
      width: 100%;
      height: 70px;
    }
  }
  .categories {
    display: flex;
    .selector {
      margin: 0px 15px;
      border-radius: 35px;
      padding: 12px;
      background-color: #d9c9e6;
      font-weight: bold;
      transition: all 0.3s ease-in-out;
      box-shadow: 6px 6px 10px -4px rgba(0, 0, 0, 0.3);
      &:hover {
        background-color: #d0c4da;
        cursor: pointer;
        box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1);
      }
    }
    .icon {
      margin: auto 0;
      border: none;
    }
  }
}
