.header {
  box-sizing: border-box;
  margin: 0px 25px 0px 0px;
  padding: 25px;
  width: 100%;
}
.header .icon {
  height: 24px;
  width: 24px;
}
.header .firstlane {
  display: flex;
}
.header .firstlane .greeting {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
}
.header .firstlane .navbar {
  margin: 0px 0px 0px auto;
}
.header .firstlane .navbar .icon {
  margin: -4px 5px -6px;
}
.header .firstlane .navbar .search {
  margin: 0px 0px 0px 5px;
  height: 30px;
  box-sizing: border-box;
  padding: 10px;
}
.header .noteadd {
  margin: 20px 0px 20px 0px;
}
.header .noteadd .noteinput {
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
  height: 70px;
}
.header .categories {
  display: flex;
}
.header .categories .selector {
  margin: 0px 15px;
  border-radius: 35px;
  padding: 12px;
  background-color: #d9c9e6;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  box-shadow: 6px 6px 10px -4px rgba(0, 0, 0, 0.3);
}
.header .categories .selector:hover {
  background-color: #d0c4da;
  cursor: pointer;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1);
}
.header .categories .icon {
  margin: auto 0;
  border: none;
}