* {
  margin: 0px;
  padding: 0px;
}
.page-wrapper {
  display: grid;
  grid-template-areas: "navigation header" "navigation container";
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 10fr;
  margin: 0px auto;
  width: 1200px;
}
.page-wrapper .navigation {
  grid-area: navigation;
  background-color: #b1ab5d;
  width: 250px;
  box-sizing: border-box;
  padding: 25px;
}
.page-wrapper .navigation .sitename {
  margin: 5px auto 15px;
}
.page-wrapper .navigation .icon {
  height: 24px;
  width: 24px;
}
.page-wrapper .navigation .info {
  display: flex;
  width: 100%;
  margin: 30px 0px;
}
.page-wrapper .navigation .info .avatar img {
  width: 80px;
  height: 80px;
}
.page-wrapper .navigation .info .username {
  margin: auto 10px;
}
.page-wrapper .navigation .links li {
  list-style: none;
  margin: 10px 0px;
}
.page-wrapper .navigation .links li:last-child {
  margin: 80px 0px 0px 0px;
}
.page-wrapper .header {
  grid-area: header;
  box-sizing: border-box;
  background: #e97575;
  margin: 0px 25px 0px 0px;
  padding: 25px;
  width: 100%;
}
.page-wrapper .header .icon {
  height: 24px;
  width: 24px;
}
.page-wrapper .header .firstlane {
  display: flex;
}
.page-wrapper .header .firstlane .greeting {
  font-size: 22px;
  font-weight: bold;
}
.page-wrapper .header .firstlane .navbar {
  margin: 0px 0px 0px auto;
}
.page-wrapper .header .firstlane .navbar .icon {
  margin: -4px 5px -6px;
}
.page-wrapper .header .firstlane .navbar .search {
  margin: 0px 0px 0px 5px;
  height: 30px;
  box-sizing: border-box;
  padding: 10px;
}
.page-wrapper .header .noteadd {
  margin: 20px 0px 20px 0px;
}
.page-wrapper .header .noteadd .noteinput {
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
  height: 70px;
}
.page-wrapper .header .categories {
  display: flex;
}
.page-wrapper .header .categories .selector {
  margin: 0px 15px;
  border: 1px solid black;
  border-radius: 35px;
  padding: 12px;
  background-color: #999999;
  font-weight: bold;
}
.page-wrapper .header .categories .selector:hover {
  background-color: #dadada;
  cursor: pointer;
}
.page-wrapper .header .categories .icon {
  margin: auto 0;
  border: none;
}
.page-wrapper .container {
  grid-area: container;
  box-sizing: border-box;
  width: 100%;
}
.page-wrapper .container .posts {
  background-color: #568173;
  padding: 25px;
}
.page-wrapper .container .posts .post {
  margin: 20px 0px;
  background-color: #01cbcb;
  box-sizing: border-box;
  padding: 20px;
}
.page-wrapper .container .posts .group {
  display: flex;
}
.page-wrapper .container .posts .group .groupphoto {
  width: 60px;
  height: 60px;
}
.page-wrapper .container .posts .group .groupinfo {
  margin: auto 25px;
}
.page-wrapper .container .posts .group .groupinfo .groupname {
  font-size: 20px;
  font-weight: bold;
}
.page-wrapper .container .posts .group .groupinfo .posttime {
  color: #5e5e5e;
  font-size: 14px;
}
.page-wrapper .container .posts .text {
  margin: 15px 0px 0px 0px;
  line-height: 24px;
}
.page-wrapper .container .posts .text .more {
  color: #ceffff;
}
.page-wrapper .container .posts .text .postimage {
  width: 100%;
  margin: 15px 0px;
}
.page-wrapper .container .posts .activities {
  display: flex;
  margin: 0px auto;
  width: 200px;
}
.page-wrapper .container .posts .activities .icon {
  width: 18px;
  height: 18px;
}
.page-wrapper .container .posts .activities p {
  font-size: 14px;
  margin: auto 15px;
}
