@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  /* background: linear-gradient(90deg, #9760c4 32%, #f7f7f7 42%); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
